body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #EFF3F9;
}

.main {
    display: flex;
    .menu {
        width: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;

        .menu-icon-vk {
            width: 25px;
            height: 25px;
        }
    }
}
